body {
    background-color: rgb(25, 25, 25);
}

a{
  text-decoration: none;
}

.title{
  margin-top: 30px;
  color: white;
}

.subtitle{
  color: rgb(180, 180, 180);
  font-size: 18px;
}

/* top navbar */
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}
/* end of top navbar */


.header{
  margin-top: 5vh;
  height: 60vh;
  max-height: 440px;
  text-align: center;
}

.content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.image-container{
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

.profile-image{
  display: inline;
  margin: 0 auto;

  height: 100%;
  width: 100%;
}

.content-center{

}
